*.pyc
media/foto_perfil/
meudinherim/migrations/
principal/migrations/
usuario/migrations/
principal/migrations/
usuario/migrations/
usuario/migrations/
caixa/migrations/
metas/migrations/

db.sqlite3