*.pyc
caixa/__pycache__/
meudinherim/__pycache__/
principal/__pycache__/
usuario/__pycache__/

caixa/__pycache__/__init__.cpython-35.pyc
caixa/__pycache__/admin.cpython-35.pyc
caixa/__pycache__/forms.cpython-35.pyc
caixa/__pycache__/models.cpython-35.pyc
caixa/__pycache__/urls.cpython-35.pyc
caixa/__pycache__/views.cpython-35.pyc
meudinherim/__pycache__/__init__.cpython-35.pyc
meudinherim/__pycache__/settings.cpython-35.pyc
meudinherim/__pycache__/urls.cpython-35.pyc
meudinherim/__pycache__/wsgi.cpython-35.pyc
principal/__pycache__/__init__.cpython-35.pyc
principal/__pycache__/admin.cpython-35.pyc
principal/__pycache__/models.cpython-35.pyc
principal/__pycache__/urls.cpython-35.pyc
principal/__pycache__/views.cpython-35.pyc
usuario/__pycache__/__init__.cpython-35.pyc
usuario/__pycache__/admin.cpython-35.pyc
usuario/__pycache__/forms.cpython-35.pyc
usuario/__pycache__/models.cpython-35.pyc

caixa/migrations/__pycache__/0001_initial.cpython-35.pyc
caixa/migrations/__pycache__/0002_auto_20171001_2341.cpython-35.pyc
caixa/migrations/__pycache__/0003_lancamentoscaixa_user.cpython-35.pyc
caixa/migrations/__pycache__/0004_auto_20171016_0106.cpython-35.pyc
caixa/migrations/__pycache__/0005_auto_20171016_0109.cpython-35.pyc
caixa/migrations/__pycache__/0006_auto_20171016_0109.cpython-35.pyc
caixa/migrations/__pycache__/__init__.cpython-35.pyc
principal/migrations/__pycache__/__init__.cpython-35.pyc
usuario/migrations/__pycache__/0001_initial.cpython-35.pyc
usuario/migrations/__pycache__/__init__.cpython-35.pyc

banco/migrations/0001_initial.py
caixa/migrations/0001_initial.py

db.sqlite3
