{% extends "base.html" %}

{% block activecontasPagar %}<li class="active">{% endblock %}

{% load staticfiles %}


{% block content %}


<section class="content2">
    
    <div class="container-fluid">     
        <div class="block-header">
            <h1>Contas a Pagar</h1>
        </div>
    </div>
    
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                	<i class="material-icons"><a data-toggle="modal" href="#contas_a_pagar" title="adicionar">add</a></i>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table id="dataBanco" class="table table-bordered table-striped table-hover dataTable js-basic-example">
                    
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Descrição</th>
                                    <th>Categoria</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Data</th>
                                    <th>Descrição</th>
                                    <th>Categoria</th>
                                    <th>Valor</th>
                                </tr>
                            </tfoot>
                            
                            <tbody>
                            {% for cp in contPagar %}
                                <tr>
                                    <td>{{ cp.data }}</td>
                                    <td>{{ cp.categoria }}</td>
                                    <td>{{ cp.descricao }}</td>
                                    <td>{{ cp.valor }}</td>
                                    <td>
                                    	<i class="material-icons"><a data-toggle="modal" href=""><span class="openEdit" data-lanc="{{ l.id }}">edit</span></a></i>
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal Cadastro Contas a Pagar -->
<div class="modal fade" id="contas_a_pagar">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Título -->
            <div class="modal-header">
                <h3 class="modal-title">Adicionar Conta a pagar</h3>
            </div>
            <!-- Campos -->
            <form method="POST" action="{% url 'contas_a_pagar:index' %}">    
                <div class="modal-body">                          
                        {% csrf_token %}

                            {% for campo in contPagarForm %}
                                {{ campo.label_tag }}
                                {{ campo }}                                    
                            {% endfor %}              
                </div>
                <!-- Salvar/Cancelar -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}