{% extends "base.html" %}

{% block activecontasPagar %}<li class="active">{% endblock %}

{% load staticfiles %}

{% block staticContasPagar %}
<!-- JQuery DataTable Css -->
<link href="{% static 'plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}" rel="stylesheet">

<link href="{% static 'css/contas_a_pagar.css' %}" rel="stylesheet">

<!-- Jquery DataTable Plugin Js -->
<script src="{% static 'plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.flash.min.js' %}"></script>

<!-- Custom Js -->
<script src="{% static 'js/jquery-datatable.js' %}"></script>
<script src="{% static 'js/contas_a_pagar.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/contas_a_pagar.css' %}">
{% endblock %}

{% block datepickerCP %}
<script type="text/javascript">
$( function() {
    $("#datepickerCP").datepicker({
        dateFormat: 'dd/mm/yy',
        dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
        dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
        monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        nextText: 'Próximo',
        prevText: 'Anterior'
    });

    
});
</script>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        CONTAS A PAGAR
                        <small>Gerencie suas contas a pagar</small>
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a id="btn_add_categoria" type="button" class="btn bg-red waves-effect" data-toggle="modal" href="#mContasAPagar" title="Adicionar">
                                <i class="material-icons">plus_one</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="header">
                    <form id="form_filtro_cp" class="form-inline">
                    
                        <select id="filter_mes_cp" class="form-control">
                            <option value="nenhum">--Meses--</option>
                            <option value="0">Janeiro</option>
                            <option value="1">Fevereiro</option>
                            <option value="2">Março</option>
                            <option value="3">Abril</option>
                            <option value="4">Maio</option>
                            <option value="5">Junho</option>
                            <option value="6">Julho</option>
                            <option value="7">Agosto</option>
                            <option value="8">Setembro</option>
                            <option value="9">Outubro</option>
                            <option value="10">Novembro</option>
                            <option value="11">Dezembro</option>
                        </select>

                        <select id="filter_ano_cp" class="form-control">
                            <option value="nenhum">--Ano--</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                        </select>

                        <select id="filter_status_cp" class="form-control">
                            <option value="nenhum">--Status--</option>
                            <option value="todas">Todas</option>
                            <option value="pagas">Pagas</option>
                            <option value="abertas">Abertas</option>
                        </select>

                        <button type="submit" class="btn btn-primary waves-effect">
                            Filtrar
                        </button>    

                    </form>
                </div>
                
                <div class="body">
                    <div class="table-responsive">
                        <table id="dataBanco" class="table table-bordered table-striped table-hover dataTable js-basic-example">
                    
                            <thead>
                                <tr>
                                    <th>Data de vencimento</th>
                                    <th>Data do pagamento</th>
                                    <th>Descrição</th>
                                    <th>Categoria</th> 
                                    <th>Valor</th>
                                    <th>Editar</th>
                                    <th>Pago</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Data de vencimento</th>
                                    <th>Data do pagamento</th>
                                    <th>Descrição</th>
                                    <th>Categoria</th>
                                    <th>Valor</th>
                                    <th>Editar</th>
                                    <th>Pago</th>
                                </tr>
                            </tfoot>
                            
                            <tbody>
                            {% for cp in contPagar %}
                                <tr id="{{ cp.id }}">
                                    <td class="conta_data">{{ cp.data | date:"d/m/Y" }}</td>
                                    {% if cp.paga == True and cp.data_pagamento == None %}
                                        <td class="conta_data">{{ cp.data | date:"d/m/Y" }}</td>
                                    {% else %}
                                        <td class="conta_data_pagamento">{{ cp.data_pagamento | date:"d/m/Y" }}</td>
                                    {% endif %}
                                    <td class="conta_desc">{{ cp.descricao }}</td>
                                    <td class="conta_cat" data-id_cat="{{ cp.categoria.id }}">{{ cp.categoria }}</td>
                                    <td class="conta_val">{{ cp.valor }}</td>
                                    {% if cp.paga == False %}
                                        <td>
                                            <i class="material-icons"><a data-toggle="modal" href="#editContasPagar" title="Clique para editar"><span class="openEdit" data-cp="{{ cp.id }}">edit</span></a></i>
                                        </td>
                                        <td>
                                            <i class="material-icons"><a data-toggle="modal" href="#pagamentoConta" style="color: red" title="Clique para pagar"><span class="openPay" data-cp="{{ cp.id }}">close</span></a></i>
                                        </td>
                                    {% else %}
                                        <td>
                                            <i class="material-icons"><a title="Cancele o pagamento para editar" disabled><span data-cp="{{ cp.id }}">edit</span></a></i>
                                        </td>
                                        <td>
                                            <i class="material-icons pago"><span class="cancelPay" data-cp="{{ cp.id }}"><a data-toggle="modal" href="" title="Clique para cancelar o pagamento">done</span></i>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Modal Cadastro Contas a Pagar -->
<div class="modal fade" id="mContasAPagar">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Título -->
            <div class="modal-header">
                <div class="header">
                    <h4 >Adicionar | <small>Conta a Pagar</small></h4>
                </div>
            </div>
            <!-- Campos -->
            <form id="form_cadastro_pagar" method="POST">    
                <div class="modal-body">                          
                        {% csrf_token %}

                            {% for campo in contPagarForm %}
                                {{ campo.label_tag }}
                                {{ campo }}                            
                            {% endfor %}
                </div>
                <!-- Salvar/Cancelar -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Edição de Contas a Pagar -->
<div class="modal fade" id="editContasPagar" tabindex="-1" role="dialog" aria-labelledby="LabelContasPagar" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card"
                <!-- Título -->
                <div class="header">
                    <h4 id="LabelContasPagar">Editar | <small>Conta a Pagar</small></h4>
                </div>
                <!-- Campos -->
                <form id="form_edit_CP" method="POST" action="{% url 'contas_a_pagar:edit' %}">
                {% csrf_token %}
                    <input id="id_contas_a_pagar-alter_CP" name="id_contas_a_pagar" type="hidden"> 
                    <div id="editContPag" class="modal-body">        
                        <!-- Django form será inserido aqui via Jquery -->
                    </div>
                    
                    <!-- Salvar/Cancelar -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary waves-effect">Salvar</button>
                        <button type="button" class="btn btn-danger excluir">Excluir</button>
                        <button type="button" class="btn" data-dismiss="modal">Cancelar</button>                    
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>    
<!-- Modal Edição de Contas a Pagar -->


<!-- Modal Pagamento de conta -->
<div class="modal fade" id="pagamentoConta">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Título -->
            <div class="modal-header">
                <h2 class="modal-title">Pagamento de Conta</h2>
            </div>
            <!-- Campos -->
            <form method="POST">    
                <div class="modal-body">                   
                    <fieldset>
                        <legend>Conta para Pagamento:</legend>

                        <div>
                            <input name="conta" type="radio" id="carteira" data-tipo="caixa" class="form-control conta_select" checked />
                            <label for="carteira">Carteira</label>
                            <input name="conta" type="radio" id="bancos" data-tipo="banco" class="form-control conta_select" />
                            <label for="bancos">Banco</label>
                        </div>

                        

                        <div id="campos_conta">
                            <!-- Inserir campos via Jquery -->     
                        </div>
                    </fieldset>            
                </div>
                <!-- Salvar/Cancelar -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary pagar">Pagar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}