{% extends "base.html" %}

{% block activecontasPagar %}<li class="active">{% endblock %}

{% load staticfiles %}

{% block staticContasPagar %}
<!-- JQuery DataTable Css -->
<link href="{% static 'plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}" rel="stylesheet">

<link href="{% static 'css/contas_a_pagar.css' %}" rel="stylesheet">

<!-- Jquery DataTable Plugin Js -->
<script src="{% static 'plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.flash.min.js' %}"></script>

<!-- Custom Js -->
<script src="{% static 'js/jquery-datatable.js' %}"></script>
<script src="{% static 'js/contas_a_pagar.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/contas_a_pagar.css' %}">
{% endblock %}

{% block datepickerCP %}
<script type="text/javascript">
$( function() {
    $("#datepickerCP").datepicker({
        dateFormat: 'dd/mm/yy',
        dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
        dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
        monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        nextText: 'Próximo',
        prevText: 'Anterior'
    });
});
</script>
{% endblock %}

{% block content %}


<section class="content2">
    
    <div class="container-fluid">     
        <div class="block-header">
            <h1>Contas a Pagar</h1>
        </div>
    </div>
    
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                
                <div class="header">
                	<i class="material-icons addCP"><a data-toggle="modal" href="#contas_a_pagar" title="Adicionar">add</a></i>
                </div>
                
                <div class="body">
                    <div class="table-responsive">
                        <table id="dataBanco" class="table table-bordered table-striped table-hover dataTable js-basic-example">
                    
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Descrição</th>
                                    <th>Categoria</th>
                                    <th>Valor</th>
                                    <th>Editar</th>
                                    <th>Pago</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Data</th>
                                    <th>Descrição</th>
                                    <th>Categoria</th>
                                    <th>Valor</th>
                                    <th>Editar</th>
                                    <th>Pago</th>
                                </tr>
                            </tfoot>
                            
                            <tbody>
                            {% for cp in contPagar %}
                                <tr id="{{ cp.id }}">
                                    <td class="conta_data">{{ cp.data }}</td>
                                    <td class="conta_cat" data-id_cat="{{ cp.categoria.id }}">{{ cp.categoria }}</td>
                                    <td class="conta_desc">{{ cp.descricao }}</td>
                                    <td class="conta_val">{{ cp.valor }}</td>
                                    <td>
                                    	<i class="material-icons"><a data-toggle="modal" href="#editContasPagar" title="Clique para editar"><span class="openEdit" data-cp="{{ cp.id }}">edit</span></a></i>
                                    </td>
                                    {% if cp.paga == False %}
                                        <td>
                                            <i class="material-icons"><a data-toggle="modal" href="#pagamentoConta" style="color: red" title="Clique para pagar"><span class="openPay" data-cp="{{ cp.id }}">close</span></a></i>
                                        </td>
                                    {% else %}
                                        <td>
                                            <i class="material-icons pago"><span class="cancelPay" data-cp="{{ cp.id }}"><a data-toggle="modal" href="" title="Clique para cancelar o pagamento">done</span></i>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal Cadastro Contas a Pagar -->
<div class="modal fade" id="contas_a_pagar">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Título -->
            <div class="modal-header">
                <h3 class="modal-title">Adicionar Conta a pagar</h3>
            </div>
            <!-- Campos -->
            <form method="POST">    
                <div class="modal-body">                          
                        {% csrf_token %}

                            {% for campo in contPagarForm %}
                                {{ campo.label_tag }}
                                {{ campo }}                                    
                            {% endfor %}              
                </div>
                <!-- Salvar/Cancelar -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary adicionar">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Edição de Contas a Pagar -->
<div class="modal fade" id="editContasPagar" tabindex="-1" role="dialog" aria-labelledby="LabelContasPagar" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card"
                <!-- Título -->
                <div class="header">
                    <h4 id="LabelContasPagar">Editar | <small>Conta a Pagar</small></h4>
                </div>
                <!-- Campos -->
                <form id="form_lancamento">
                {% csrf_token %}    
                    <div id="editContPag" class="modal-body">        
                        <!-- Django form será inserido aqui via Jquery -->
                    </div>
                </form>     
                <!-- Salvar/Cancelar -->
                <div class="modal-footer">
                    <button class="btn btn-success waves-effect salvar" >Salvar</button>
                    <button class="btn btn-danger excluir">Excluir</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>    
<!-- Modal Edição de Lançamento -->


<!-- Modal Pagamento de conta -->
<div class="modal fade" id="pagamentoConta">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Título -->
            <div class="modal-header">
                <h2 class="modal-title">Pagamento de Conta</h2>
            </div>
            <!-- Campos -->
            <form method="POST">    
                <div class="modal-body">                   
                    <fieldset>
                        <legend>Conta para Pagamento:</legend>

                        <div>
                            <input name="conta" type="radio" id="carteira" data-tipo="caixa" class="form-control conta_select" checked />
                            <label for="carteira">Caixa</label>
                            <input name="conta" type="radio" id="bancos" data-tipo="banco" class="form-control conta_select" />
                            <label for="bancos">Banco</label>
                        </div>

                        

                        <div id="campos_conta">
                            <!-- Inserir campos via Jquery -->     
                        </div>
                    </fieldset>            
                </div>
                <!-- Salvar/Cancelar -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary pagar">Pagar</button>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}