{% extends "base.html" %}

{% block activeCad %}<li class="active">{% endblock %}

{% block activeAgencia %}<li class="active">{% endblock %}

{% load staticfiles %}

{% block staticAgencia  %}

<!-- JQuery DataTable Css -->
<link href="{% static 'plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}" rel="stylesheet">

<!-- Jquery DataTable Plugin Js -->
<script src="{% static 'plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.flash.min.js' %}"></script>

<!-- Custom Js -->
<script src="{% static 'js/jquery-datatable.js' %}"></script>
<link href="{% static 'css/agencia.css' %}" rel="stylesheet">
<script src="{% static 'js/agencia.js' %}"></script>


{% endblock %}

{% block content %}
    
<section class="content2">
    
    <div class="container-fluid">
        <div class="block-header">
            <h1>Agência Bancária</h1>
        </div>
    </div>
    
    <div class="row clearfix">
        <div class="card">

            <div class="header">                    
                    <i class="material-icons addAgencia">
                        <a class="nav-link" data-toggle="modal" href="" role="tab" title="Adicionar Meta" data-target="#mAgencia">add</a>
                    </i>
            </div>

            <div class="body">
                <div class="table-responsive">
                    <table id="dataAgencia"class="table table-bordered table-striped table-hover dataTable js-basic-example">
                            
                        <thead>
                            <th>Banco</th>
                            <th>Agência</th>
                            <th>Conta</th>
                            <th>Tipo</th>
                            <th>Editar</th>
                        </thead>
                        <tfoot>
                            <th>Banco</th>
                            <th>Agência</th>
                            <th>Conta</th>
                            <th>Tipo</th>
                            <th>Editar</th>
                        </tfoot>
                            
                        <tbody>
                            {% for ag in agencias %}
                            <tr>
                                <td>{{ ag.banco }}</td>
                                <td>
                                    {% if ag.agencia == None %}
                                    {% else %}
                                        {{ ag.agencia }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ag.conta == None %}
                                    {% else %}
                                        {{ ag.conta }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ag.tipo == '1' %}
                                        Corrente
                                    {% else %}
                                        Poupança
                                    {% endif %}
                                </td>
                                <td><i class="material-icons"><a data-toggle="modal" href="#editAg"><span class="openEdit" data-ag="{{ ag.id }}">edit</span></a></i></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Modal Cadastro Agencias Bancarias -->

<div class="modal fade" id="mAgencia">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Título -->
            <div class="modal-header">
                <div class="header">
                    <h4 >Adicionar | <small>Agência Bancária</small></h4>
                </div>
            </div>
            <!-- Campos -->
            <form id="form_cadastro_agencia" method="POST">    
                <div class="modal-body">                          
                        {% csrf_token %}

                            {% for campo in formAgencia %}
                                {{ campo.label_tag }}
                                {{ campo }}                                
                            {% endfor %}              
                </div>
                <!-- Salvar/Cancelar -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button  type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal Edição Agencias Bancarias -->

<div class="modal fade" id="editAg">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Título -->
            <div class="modal-header">
                <h4 id="LabelLancamento">Editar | <small>Agência Bancária</small> </h4>
              
            </div>
            <!-- Campos -->
            <form id="form_edit_agencia" method="POST">    
                                 
                {% csrf_token %}
                 <div id="editAgencia" class="modal-body">        
                <!-- Django form será inserido aqui via Jquery -->
                 </div>
               
                <!-- Salvar/Cancelar -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success waves-effect">Salvar</button>
                    <button class="btn btn-danger excluirAg">Excluir</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>






{% endblock %}