{% extends "base.html" %}

{% block activeBanco %}<li class="active">{% endblock %}

{% load staticfiles %}

{% block staticBanco %}

<!-- JQuery DataTable Css -->
<link href="{% static 'plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}" rel="stylesheet">

<link href="{% static 'css/banco.css' %}" rel="stylesheet">

<!-- Custom Js -->
<script src="{% static 'js/jquery-datatable.js' %}"></script>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Banco / Cartão de Crédito
                        <small>Lançamentos na conta bancária e no cartão de crédito</small>
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a class="nav-link" href="{% url 'banco:agencia' %}" title="Gerenciar Agência/Cartão">Gerenciar</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                
                <div class="body">
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active"><a href="#agencias" data-toggle="tab">Banco</a></li>
                        <li role="presentation"><a href="#banco_cartao_credito" data-toggle="tab">Cartão</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="agencias">
                            <div class="row clearfix">
                                <br />
                                <div class="col-sm-6">
                                    <select id="select_agencia" class="form-control show-tick"></select>
                                </div>
                                <div class="col-sm-6">
                                    <div id="select_data" style="display: none">
                                        <form id="form_filtro_banco" class="form-inline">
                                            <select id="lanc_meses" class="form-control meses_change">
                                                <option value="nenhum">--Meses--</option>
                                                <option value="0">Janeiro</option>
                                                <option value="1">Fevereiro</option>
                                                <option value="2">Março</option>
                                                <option value="3">Abril</option>
                                                <option value="4">Maio</option>
                                                <option value="5">Junho</option>
                                                <option value="6">Julho</option>
                                                <option value="7">Agosto</option>
                                                <option value="8">Setembro</option>
                                                <option value="9">Outubro</option>
                                                <option value="10">Novembro</option>
                                                <option value="11">Dezembro</option>
                                            </select>
                                            <!-- Caixa para filtrar por mês -->
                                            <select id="lanc_anos" class="form-control anos_change">
                                                <option value="nenhum">--Ano--</option>
                                                <option value="2016">2016</option>
                                                <option value="2017">2017</option>
                                                <option value="2018">2018</option>
                                                <option value="2019">2019</option>
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                            </select>
                                            <button type="submit" class="btn btn-primary btn-sm">Filtrar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <br \>
                            <div class="table-responsive">
                                <table id="dataBanco" class="table table-bordered table-striped table-hover dataTable js-basic-example">                    
                                    <thead>
                                        <tr>
                                            <th>Data</th>
                                            <th>Descrição</th>
                                            <th>Tipo</th>
                                            <th>Categoria</th>
                                            <th>Valor</th>
                                            <th>Editar</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody id="table_lanc_banco"></tbody>

                                    <tfoot id="saldo_conta" style="display: none;">
                                        <tr class="bg-success">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><b>Saldo atual</b></td>
                                            <!-- {% if saldoCaixa < 0  %} -->
                                                <!-- <td class="valor_total" id="saldo_caixa1" style="color: red">100</td> -->
                                            <!-- {% else %} -->
                                                <td class="valor_saldo">200</td>
                                            <!-- {% endif %} -->
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade in" id="banco_cartao_credito">
                            <div class="row clearfix">
                                <br />
                                <div class="col-sm-6">
                                    <select id="select_agencia_credito" class="form-control show-tick"></select>
                                </div>
                                <div class="col-sm-6">
                                    <div id="select_data_credito" style="display: none">
                                        <form id="form_filtro_credito" class="form-inline">                
                                            <select id="lanc_meses_credito" class="form-control meses_change">
                                                <option value="nenhum">--Meses--</option>
                                                <option value="0">Janeiro</option>
                                                <option value="1">Fevereiro</option>
                                                <option value="2">Março</option>
                                                <option value="3">Abril</option>
                                                <option value="4">Maio</option>
                                                <option value="5">Junho</option>
                                                <option value="6">Julho</option>
                                                <option value="7">Agosto</option>
                                                <option value="8">Setembro</option>
                                                <option value="9">Outubro</option>
                                                <option value="10">Novembro</option>
                                                <option value="11">Dezembro</option>
                                            </select>
                                            <!-- Caixa para filtrar por mês -->
                                            <select id="lanc_anos_credito" class="form-control anos_change">
                                                <option value="nenhum">--Ano--</option>
                                                <option value="2016">2016</option>
                                                <option value="2017">2017</option>
                                                <option value="2018">2018</option>
                                                <option value="2019">2019</option>
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                            </select>
                                            <button type="submit" class="btn btn-primary btn-sm">Filtrar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <br \>
                            <div class="table-responsive">
                                <table id="dataCredito" class="table table-bordered table-striped table-hover dataTable js-basic-example">                    
                                    <thead>
                                        <tr>
                                            <th>Data</th>
                                            <th>Descrição</th>
                                            <th>Tipo</th>
                                            <th>Categoria</th>
                                            <th>Valor</th>
                                            <th>Editar</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Data</th>
                                            <th>Descrição</th>
                                            <th>Tipo</th>
                                            <th>Categoria</th>
                                            <th>Valor</th>
                                            <th>Editar</th>
                                        </tr>
                                    </tfoot>
                                    <tbody id="table_lanc_credito"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Edição de Lançamento -->
    <div class="modal fade" id="editLancamento" tabindex="-1" role="dialog" aria-labelledby="LabelLancamento" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="card"
                    <!-- Título -->
                    <div class="header">
                        <h4 id="LabelLancamento">Editar | <small>Lançamento bancário<span id="status"></span></small></h4>
                    </div>
                    <!-- Campos -->
                    <form id="form_lancamento_banco">
                    {% csrf_token %}    
                        <div id="editLanc" class="modal-body">        
                            <!-- Django form será inserido aqui via Jquery -->
                        </div>
                        <!-- Salvar/Cancelar -->
                        <div class="modal-footer">
                            <button id="btn_salvar" type="submit" class="btn btn-success waves-effect" >Salvar</button>
                            <button class="btn btn-danger excluir">Excluir</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>    
    <!-- Modal Edição de Lançamento -->

<script type="text/javascript">

    var agencias = JSON.parse("{{ selectAgencias | safe | escapejs }}");
    var credito = JSON.parse("{{ selectCredito | safe | escapejs }}");

    if (agencias.length !== 0) {
        var conteudo = "<option value='nenhum'>Selecione a agência</option>";
        for(var x = 0; x < agencias.length; x++) {
            conteudo += "<option value =" + agencias[x].id + ">" + agencias[x].agencia + "</option>";
        }
    }
    else {
        var conteudo = "<option>Nenhuma agência cadastrada</option>";
    }
    $('#select_agencia').html(conteudo);

    if (credito.length !== 0) {
        var conteudo = "<option value='nenhum'>Selecione o cartão</option>";
        for(var x = 0; x < credito.length; x++) {
            conteudo += "<option value =" + credito[x].id + ">" + credito[x].agencia + "</option>";
        }
    }
    else {
        var conteudo = "<option>Nenhum cartão cadastrado</option>";
    }
    $('#select_agencia_credito').html(conteudo);

</script>

<script src="{% static 'js/banco.js' %}"></script>

{% endblock %}

<meta charset="utf-8">