{% extends "base.html" %}

{% block activeBanco %}<li class="active">{% endblock %}

{% load staticfiles %}

{% block staticBanco %}

<!-- JQuery DataTable Css -->
<link href="{% static 'plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}" rel="stylesheet">

<link href="{% static 'css/banco.css' %}" rel="stylesheet">

<!-- Jquery DataTable Plugin Js -->
<script src="{% static 'plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.flash.min.js' %}"></script>

<!-- Custom Js -->
<script src="{% static 'js/jquery-datatable.js' %}"></script>
<script src="{% static 'js/banco.js' %}"></script>
<script>$('dataBanco').dataTable();</script>
{% endblock %}

{% block content %}
<section class="content2">
    
    <div class="container-fluid">     
        <div class="block-header">
            <h1>Banco</h1>
        </div>
    </div>
    
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    
                    <ul class="header-dropdown">
                        {% if saldoBanco < 0  %}
                            <h2 class ="saldoBanco" style="color: red"> Saldo: {{ saldoBanco }}</h2>
                        {% else %}
                             <h2 class="saldoBanco" style="color: blue"> Saldo: {{ saldoBanco }}</h2>
                        {% endif %}
                    </ul>                    

                </div>
                
                <div class="body">
                    <div class="table-responsive">
                        <table id="dataBanco" class="table table-bordered table-striped table-hover dataTable js-basic-example">
                    
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Banco</th>
                                    <th>Descrição</th>
                                    <th>Categoria</th>
                                    <th>Valor</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Data</th>
                                    <th>Banco</th>
                                    <th>Descrição</th>
                                    <th>Categoria</th>
                                    <th>Valor</th>
                                    <th>Editar</th>
                                </tr>
                            </tfoot>
                            
                            <tbody>
                            {% for l in lancBanco %}
                                <tr>
                                    <td>{{ l.data | date:"d/m/Y" }}</td>
                                    <td>{{ l.banco }}</td>
                                    <td>{{ l.descricao }}</td>
                                    <td>{{ l.categoria }}</td>
                                    
                                    {% if l.tipo == '1' %}
                                        <td style="color: blue">{{ l.valor }}</td>
                                        <td><i class="material-icons"><a data-toggle="modal" href=""><span class="openEdit" data-lanc="{{ l.id }}">edit</span></a></i></td>
                                    
                                    {% else %}
                                        <td style="color: red">-{{ l.valor }}</td>                                    
                                        <td><i class="material-icons"><a data-toggle="modal" href=""><span class="openEdit" data-lanc="{{ l.id }}">edit</span></a></i></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal Edição de Lançamento -->
<div class="modal fade" id="editLancamento" tabindex="-1" role="dialog" aria-labelledby="LabelLancamento" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card"
                <!-- Título -->
                <div class="header">
                    <h4 id="LabelLancamento">Editar | <small>Lançamento bancário</small></h4>
                </div>
                <!-- Campos -->
                <form id="form_lancamento">
                {% csrf_token %}    
                    <div id="editLanc" class="modal-body">        
                        <!-- Django form será inserido aqui via Jquery -->
                    </div>
                </form>     
                <!-- Salvar/Cancelar -->
                <div class="modal-footer">
                    <button class="btn btn-success waves-effect salvar" >Salvar</button>
                    <button class="btn btn-danger excluir">Excluir</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>    
<!-- Modal Edição de Lançamento -->


{% endblock %}