{% extends "base.html" %}

{% block activeBanco %}<li class="active">{% endblock %}

{% load staticfiles %}

{% block staticBanco %}

<!-- JQuery DataTable Css -->
<link href="{% static 'plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}" rel="stylesheet">

<link href="{% static 'css/banco.css' %}" rel="stylesheet">

<!-- Custom Js -->
<script src="{% static 'js/jquery-datatable.js' %}"></script>

{% endblock %}

{% block content %}
<section class="content2">
    
    <div class="container-fluid">     
        <div class="block-header">
            <h1>Banco</h1>
        </div>
    </div>
    
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="card_atual" class="card">
                <div id="saldo_banco" class="header">
                    {% for a in agencias %}
                        {% if a.saldo < 0  %}
                            <span id="{{ a.banco }}" class="saldoBanco" data-saldo="{{ a.banco }}" style="color: red"> Saldo: {{ a.saldo }}</span>
                        {% else %}
                            <span id="{{ a.banco }}" class="saldoBanco" data-saldo="{{ a.banco }}" style="color: blue"> Saldo: {{ a.saldo }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="header">
                    <select id="select_agencia" class="form-control"></select>

                    <br \>

                    <div id="select_data">
                        <form id="form_filtro_banco" class="form-inline">

                            <select id="lanc_meses" class="form-control meses_change">
                                <option value="nenhum">--Meses--</option>
                                <option value="0">Janeiro</option>
                                <option value="1">Fevereiro</option>
                                <option value="2">Março</option>
                                <option value="3">Abril</option>
                                <option value="4">Maio</option>
                                <option value="5">Junho</option>
                                <option value="6">Julho</option>
                                <option value="7">Agosto</option>
                                <option value="8">Setembro</option>
                                <option value="9">Outubro</option>
                                <option value="10">Novembro</option>
                                <option value="11">Dezembro</option>
                            </select>
                            <!-- Caixa para filtrar por mês -->
                            <select id="lanc_anos" class="form-control anos_change">
                                <option value="nenhum">--Ano--</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                            </select>
                            <button type="submit" class="btn btn-primary btn-sm">Filtrar</button>
                        </form>
                    </div>
                </div>
                
                <div class="body">
                    <div class="table-responsive">
                        <table id="dataBanco" class="table table-bordered table-striped table-hover dataTable js-basic-example">
                    
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Descrição</th>
                                    <th>Tipo</th>
                                    <th>Categoria</th>
                                    <th>Valor</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Data</th>
                                    <th>Descrição</th>
                                    <th>Tipo</th>
                                    <th>Categoria</th>
                                    <th>Valor</th>
                                    <th>Editar</th>
                                </tr>
                            </tfoot>
                            
                            <tbody id="table_lanc_banco">

                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal Edição de Lançamento -->
<div class="modal fade" id="editLancamento" tabindex="-1" role="dialog" aria-labelledby="LabelLancamento" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card"
                <!-- Título -->
                <div class="header">
                    <h4 id="LabelLancamento">Editar | <small>Lançamento bancário<span id="status"></span></small></h4>
                </div>
                <!-- Campos -->
                <form id="form_lancamento_banco">
                {% csrf_token %}    
                    <div id="editLanc" class="modal-body">        
                        <!-- Django form será inserido aqui via Jquery -->
                    </div>
                    <!-- Salvar/Cancelar -->
                    <div class="modal-footer">
                        <button id="btn_salvar" type="submit" class="btn btn-success waves-effect" >Salvar</button>
                        <button class="btn btn-danger excluir">Excluir</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>    
<!-- Modal Edição de Lançamento -->

<script type="text/javascript">
    var agencias = JSON.parse("{{ selectAgencias | safe | escapejs }}");    

    if (agencias.length !== 0) {
        var conteudo = "<option value='nenhum'>-----------Selecione a agência-----------</option>";
        for(var x = 0; x < agencias.length; x++) {
            conteudo += "<option value =" + agencias[x].id + ">" + agencias[x].agencia + "</option>";
        }
    }
    else {
        var conteudo = "<option>Nenhuma agência cadastrada</option>";
    }
    $('#select_agencia').html(conteudo);
</script>

<script src="{% static 'js/banco.js' %}"></script>

{% endblock %}

<meta charset="utf-8">