<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>500 | Erro Interno</title>
     <!-- Icone Superior-->
     <link rel="icon" href="{% static 'images/Porco.png' %}" type="image/x-icon">

     <!-- Google Fonts -->
     <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
 
     <!-- Bootstrap Core Css -->
     <link href="{% static 'plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
 
     <!-- Waves Effect Css -->
     <link href="{% static 'plugins/node-waves/waves.css' %}" rel="stylesheet" />
 
     <!-- Custom Css -->
     <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body class="five-zero-zero">
    <div class="five-zero-zero-container">
        <div class="error-code">500</div>
        <div class="error-message">Erro Interno</div>
        <div class="button-place">
            <a href="{% url 'principal:home' %}" class="btn btn-default btn-lg waves-effect">PÁGINA PRINCIPAL</a>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{% static 'plugins/bootstrap/js/bootstrap.js' %}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{% static 'plugins/node-waves/waves.js' %}"></script>
</body>

</html>