{% extends "base.html" %}
{% load staticfiles %}

{% block activeHome %}<li class="active">{% endblock %}

{% block staticHome %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block scriptHome %}
<link rel='stylesheet' href="{% static 'css/fullcalendar.css' %}" />
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/fullcalendar.js' %}"></script>
<script src="{% static 'js/locale/pt-br.js' %}"></script>
<script type="text/javascript">
    $( function() {
        $("#datepickerC").datepicker({
            dateFormat: 'dd/mm/yy',
            dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
            dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
            dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
            monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
            monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
            nextText: 'Próximo',
            prevText: 'Anterior'
        });
      });

    $( function() {
        $("#datepickerB").datepicker({
            dateFormat: 'dd/mm/yy',
            dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
            dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
            dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
            monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
            monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
            nextText: 'Próximo',
            prevText: 'Anterior'
        });
    });

    //Recebe eventos para carregar no calendário
    var eventos = JSON.parse("{{ events | safe | escapejs }}");

    $(document).ready(function() {
        $('#calendar').fullCalendar(
            {   
                theme: 'jquery-ui',
                height: 550,
                eventLimit: 3,
                events: eventos
        });
    });

</script>
{% endblock %}

{% block content %}
<!-- Calendário -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div id='calendar'></div>
        </div>
    </div>
</div>
<!--/ Calendário -->

<!-- Barra de Progresso -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="block-header">
            <h3>Progresso de Metas</h3>
        </div>
        <div class="progress">
            <div class="progress-bar bg-cyan progress-bar-striped active" role="progressbar" aria-valuenow="75" aria-valuemin="1" aria-valuemax="100" style="width: 75%">
                    75%
            </div>
        </div>
    </div>
</div>
<!--/ Barra de Progresso -->
{% endblock %}

