{% extends "base_index.html" %}
{% block content %}
<form id="sign_up" method="POST">
    {% csrf_token %}
    <div class="logo align-center">
        <h1><b>Cadastre-se</b></h1>
        <br>
    </div>

    <!-- {{ form.non_field_errors }} -->
    <fieldset>
            
            <!--
            {% for field in form %}
               
                 {{ field.label_tag }}
                 {{ field }}
                 {{ field.errors }}
              
            {% endfor %}-->

    </fieldset>

    
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">person</i>
        </span>
        <div class="form-line">
            {{ form.username }}
            {{ form.username.errors }}
        </div>
    </div> 
    
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">email</i>
        </span>
        <div class="form-line">
           {{ form.email }}
           {{ form.email.errors }}
        </div>
    </div>
    
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">lock</i>
        </span>
        <div class="form-line">
           {{ form.password1 }}
           {{ form.password1.errors }}
        </div>
    </div>
    
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">lock</i>
        </span>
        <div class="form-line">
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>
    </div>
    <!-- 
    <div class="form-group">
        <input type="checkbox" name="terms" id="terms" class="filled-in chk-col-pink">
        <label for="terms">Eu li e concordei com o <a href="javascript:void(0);">termo de uso</a>.</label>
    </div> -->
    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">INSCREVA-SE</button>
</form>
{% endblock %}