{% extends "base_index.html" %}
{% block content2 %} 
<form  action="{% url 'principal:index' %}"  method="POST">
    {% csrf_token %}

  <div class="table-responsive">

<table id="IdTableLogin" role="presentation" cellspacing="0" >

    <tr>

    <td><i class="material-icons">person</i></td>   

   <td>  <input type="text" class="form-control" id="{{ form2.login.id_for_label }}" name="{{ form2.login.html_name }}"

           placeholder="Usuário"  required autofocus></td> <td>  &nbsp; &nbsp; &nbsp; &nbsp;   </td> 


    <td> <i class="material-icons">lock</i></td>   

    <td> <input type="password" class="form-control" id="{{ form2.senha.id_for_label }}" name="{{ form2.senha.html_name }}" minlength="6" placeholder="Senha"  required> </td> <td>  &nbsp; &nbsp;  &nbsp; &nbsp;  </td>


    <td> <button  id="IdBotao" class="btn btn-primary btn-lg bg-pink waves-effect" type="submit" >ENTRAR</button></td>

   

    </tr>
</table>
</div>

   

    
</form>

{% endblock %}


{% block content %}
<form id="sign_up" method="POST">
    {% csrf_token %}
    <div class="logo align-center">
        <h1><b>Cadastre-se</b></h1>
        <br>
    </div>

    {{ form.non_field_errors }}    
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">person</i>
        </span>
        <div class="form-line">
            {{ form.username }}
        </div>
        <h6 class="form_erros"><strong>{{ form.username.errors }}<strong></h6>
    </div> 

    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">email</i>
        </span>
        <div class="form-line">
           {{ form.email }}
        </div>
        <h6 class="form_erros"><strong>{{ form.email.errors }}<strong></h6>
    </div>
    
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">lock</i>
        </span>
        <div class="form-line">
           {{ form.password1 }}
        </div>
        <h6 class="form_erros"><strong>{{ form.password1.errors }}<strong></h6>
    </div>
    
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">lock</i>
        </span>
        <div class="form-line">
            {{ form.password2 }}
        </div>

        <h6 class="form_erros"><strong>{{ form.password2.errors }}<strong></h6>
    </div>
    <!-- 
    <div class="form-group">
        <input type="checkbox" name="terms" id="terms" class="filled-in chk-col-pink">
        <label for="terms">Eu li e concordei com o <a href="javascript:void(0);">termo de uso</a>.</label>
    </div> -->
    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">INSCREVA-SE</button>
</form>
{% endblock %}