{% extends "base_index.html" %}

{% block content2 %}
  <a href="{% url 'principal:index' %}" class="navbar-right btn btn-primary btn-sm m-l-0">CADASTRO</a>
{% endblock %}


{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissable">    
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}

<form method="POST" action="{% url 'principal:entrar' %}">
    {% csrf_token %}

    <div class="logo align-center">
        <h1><b>Login</b></h1>
        <br>
    </div>
    <h5 class="form_erros"><strong>{{ form.non_field_errors }}<strong></h5>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">person</i>
        </span>
         
        <div class="form-line">
             <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" placeholder="Usuário" required autofocus> 
            {{ form.username.errors }}
        </div>
    </div>

    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">lock</i>
        </span>

        <div class="form-line">
       
             <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" minlength="6" placeholder="Senha" required> 
            {{ form.password.errors }} 
        </div>
        
    </div>

    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">ENTRAR</button>
</form>
{% endblock %}