.saldoBanco{
	float:right;
}

div .body{
	clear: right;
}

#datepicker-alter_banco {
	width: 150px;
}

#dataBanco a {
	text-decoration: none;
}

.select_mes {
	font-size: 18px;
}

.select_agencia {
	font-size: 18px;
}

.saldoBanco {
	font-size: 20px;
}