#datepickerC, #datepickerB {
	width: 150px;
}

#calendar {
	padding: 10px;
}

/* #infoBoxBanco{
	background: #F33122;  
	max-height: 60px; 
	width: 100px;
	margin-top:-10px;  
	left: 500%;
}


#infoBoxCaixa{
	background:#F33122;  
	max-height: 60px; 	
	width: 100px; 
	margin-top:-10px; 
	left: 500%;

}

#iconsInfoBox{

	font-size:30px; 
	color: white; 
	 max-height: 60px;
}

#textInfoBox{
	color: white; 
	font-size:10pt;
}

#numberInfoBox{
	color: white; 
	font-size:10pt;
} */

.i-circle {
    background: #ff0000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 60%;
	font-size: 20px;
}

#menu_contas a {
	margin-bottom: 5px
}

#footer_agencia a {
	font-size: 16px
}

.errorlist li {
	list-style-type: none;
}

