#datepicker-alter_caixa {
	width: 150px;
}

#dataCaixaChange a {
	text-decoration: none;
}

#mydata a {
	text-decoration: none;
}

.select_mes, .select_ano {
	font-size: 18px;
}

.saldoCaixa {
	font-size: 20px;
}