.addCat a {
    text-decoration: none;
    color: blue;
    font-size: 40px;
}

.addCat a:hover {
	color: #4169E1;
}

#dataCategoria a {
	text-decoration: none;
}

#dataCategoria2 a {
	text-decoration: none;
}