#dataBanco a {
	text-decoration: none;
}

#dataBanco .pago a {
	color: green;
}

.addCP a {
	text-decoration: none;
	color: blue;
	font-size: 40px;
}

#datepickerCP, #datepickerCP_edit, #outras_parcelas, #outras_parcelas_edit {
	width: 150px;
}

.addCP a:hover {
	color: #4169E1;
}