/* css personalizado */

body{
    padding-top:80px;
    background-color:white;
  

    
}
img#porco{
    position: fixed;
	
	top: -9px;
    
}


p{
    outline-color: aliceblue;
}

legend{
     border: 2px groove (internal value);
    
}

