/* css personalizado */

body{
    padding-top:0px;
    background-color:#4a8266;
  

    
}
img#porco{
    position: absolute;
	left: 550px;
	top: 100px;
    
}

h3{
    position: relative;
	left: 450px;
	top: 310px;
    color: white;
}
p{
    outline-color: aliceblue;
}
