{% extends "base.html" %}

{% load staticfiles %}

{% block staticContasReceber %} 
<!-- JQuery DataTable Css -->
<link href="{% static 'plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}" rel="stylesheet">

<!-- Jquery DataTable Plugin Js -->
<script src="{% static 'plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.flash.min.js' %}"></script>

<!-- Custom Js -->
<script src="{% static 'js/jquery-datatable.js' %}"></script>
<script src="{% static 'js/contas_a_receber.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/contas_a_receber.css' %}">

{% endblock %}

{% block activecontasReceber %}<li class="active">{% endblock %}

{% block datepickerCR %}
<script type="text/javascript">
$( function() {
    $("#datepickerCR").datepicker({
        dateFormat: 'dd/mm/yy',
        dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
        dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
        monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        nextText: 'Próximo',
        prevText: 'Anterior'
    });
});
</script>
{% endblock %}

{% block content %}

<section class="content2">
    
    <div class="container-fluid">     
        <div class="block-header">
            <h1>Contas a Receber</h1>
        </div>
    </div>
    
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                
                <div class="header">
                	<i class="material-icons addCR"><a data-toggle="modal" href="#contas_a_receber" title="Adicionar">add</a></i>
                </div>

                <div class="header">
                    <form id="form_filtro_cr" class="form-inline">
                    
                        <select id="filter_mes_cr" class="form-control">
                            <option value="nenhum">--Meses--</option>
                            <option value="0">Janeiro</option>
                            <option value="1">Fevereiro</option>
                            <option value="2">Março</option>
                            <option value="3">Abril</option>
                            <option value="4">Maio</option>
                            <option value="5">Junho</option>
                            <option value="6">Julho</option>
                            <option value="7">Agosto</option>
                            <option value="8">Setembro</option>
                            <option value="9">Outubro</option>
                            <option value="10">Novembro</option>
                            <option value="11">Dezembro</option>
                        </select>

                        <select id="filter_ano_cr" class="form-control">
                            <option value="nenhum">--Ano--</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                        </select>

                        <select id="filter_status_cr" class="form-control">
                            <option value="nenhum">--Status--</option>
                            <option value="todas">Todas</option>
                            <option value="recebidas">Recebidas</option>
                            <option value="abertas">Abertas</option>
                        </select>

                        <button type="submit" class="btn btn-primary waves-effect">
                            Filtrar
                        </button>    

                    </form>              
                </div>
                
                <div class="body">                    
                    <div class="table-responsive">                        
                        <table id="dataCR" class="table table-bordered table-striped table-hover dataTable js-basic-example">

                        	<thead>
                                <tr>
                                    <th>Data de vencimento</th>
                                    <th>Data do recebimento</th>
                                    <th>Descrição</th>
                                    <th>Categoria</th>                     
                                    <th>Valor</th>
                                    <th>Editar</th>
                                    <th>Recebido</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Data de vencimento</th>
                                    <th>Data do recebimento</th>
                                    <th>Descrição</th> 
                                    <th>Categoria</th>
                                    <th>Valor</th>
                                    <th>Editar</th>
                                    <th>Recebido</th>
                                </tr>
                            </tfoot>

                        	<tbody>
                            {% for cr in contReceber %}
                                <tr id="{{ cr.id }}">
                                    <td class="conta_data">{{ cr.data | date:"d/m/Y"}}</td>
                                    {% if cr.recebido == True and cr.data_recebimento == None %}
                                        <td class="conta_data">{{ cr.data | date:"d/m/Y"}}</td>
                                    {% else %}
                                        <td class="conta_data_recebimento">{{ cr.data_recebimento | date:"d/m/Y"}}</td>
                                    {% endif %}
                                    <td class="conta_desc">{{ cr.descricao }}</td>
                                    <td class="conta_cat" data-id_cat="{{ cr.categoria.id }}">{{ cr.categoria }}</td>
                                    <td class="conta_val">{{ cr.valor }}</td>
                                    {% if cr.recebido == False %}
                                        <td>
                                            <i class="material-icons"><a data-toggle="modal" href="#editContasReceber" title="Clique para editar"><span class="openEdit" data-cr="{{ cr.id }}">edit</span></a></i>
                                        </td>
                                        <td>
                                            <i class="material-icons"><a data-toggle="modal" href="#recebimentoConta" style="color: red" title="Clique para receber"><span class="openReceive" data-cr="{{ cr.id }}">close</span></a></i>
                                        </td>
                                    {% else %}
                                        <td>
                                            <i class="material-icons"><a title="Cancele o recebimento para editar"><span data-cr="{{ cr.id }}">edit</span></a></i>
                                        </td>
                                        <td>
                                            <i class="material-icons recebido"><span class="cancelReceive" data-cr="{{ cr.id }}"><a data-toggle="modal" href="" title="Clique para cancelar o recebimento">done</span></i>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>

						</table>
					</div>

				</div>
			</div>
		</div>
	</div>

</section>

<!-- Modal Cadastro Contas a Receber -->
<div class="modal fade" id="contas_a_receber">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Título -->
            <div class="modal-header">
                <div class="header">
                    <h4 >Adicionar | <small>Conta a Receber</small></h4>
                </div>
            </div>
            <!-- Campos -->
            <form id="form_cadastro_receber" method="POST">    
                <div class="modal-body">                          
                        {% csrf_token %}

                            {% for campo in contReceberForm %}
                                {{ campo.label_tag }}
                                {{ campo }}                                    
                            {% endfor %}              
                </div>
                <!-- Salvar/Cancelar -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Edição de Contas a Receber -->
<div class="modal fade" id="editContasReceber" tabindex="-1" role="dialog" aria-labelledby="LabelContasReceber" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card"
                <!-- Título -->
                <div class="header">
                    <h4 id="LabelContasReceber">Editar | <small>Conta a Receber</small></h4>
                </div>
                <!-- Campos -->
                <form id="form_edit_receber">
                {% csrf_token %}    
                    <div id="editContRec" class="modal-body">        
                        <!-- Django form será inserido aqui via Jquery -->
                    </div>
                     
	                <!-- Salvar/Cancelar -->
	                <div class="modal-footer">
	                    <button type="submit" class="btn btn-success waves-effect">Salvar</button>
	                    <button class="btn btn-danger excluir">Excluir</button>
	                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
	                </div>
	        	</form>
            </div>
        </div>
    </div>
</div>    
<!-- Modal Edição de Contas a Receber -->

<!-- Modal Recebimento de conta -->
<div class="modal fade" id="recebimentoConta">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Título -->
            <div class="modal-header">
                <h2 class="modal-title">Recebimento de Conta</h2>
            </div>
            <!-- Campos -->
            <form id="form_recebimento_conta" method="POST">    
                <div class="modal-body">                   
                    <fieldset>
                        <legend>Conta para Recebimento:</legend>

                        <div>
                            <input name="conta" type="radio" id="carteira" data-tipo="caixa" class="form-control conta_select" checked />
                            <label for="carteira">Caixa</label>
                            <input name="conta" type="radio" id="bancos" data-tipo="banco" class="form-control conta_select" />
                            <label for="bancos">Banco</label>
                        </div>                        

                        <div id="campos_conta">
                            <!-- Inserir campos via Jquery -->     
                        </div>
                    </fieldset>            
                </div>
                <!-- Salvar/Cancelar -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary receber">Receber</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}