{% extends "base.html" %}

{% block activeRelCP %}<li class="active">{% endblock %}
{% block activeRel %}<li class="active">{% endblock %}

{% load staticfiles %}

{% block staticRelCP %}
<link href="{% static 'css/relatorio_cp.css' %}" rel="stylesheet">
<script src="{% static 'js/relatorio_cp.js' %}"></script>


<script type="text/javascript">
$( function() {
    $("#vencimento_inicial").datepicker({
        dateFormat: 'dd/mm/yy',
        dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
        dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
        monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        nextText: 'Próximo',
        prevText: 'Anterior'
    });
  });

$( function() {
    $("#vencimento_final").datepicker({
        dateFormat: 'dd/mm/yy',
        dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
        dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
        monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        nextText: 'Próximo',
        prevText: 'Anterior'
    });
});        

</script>

{% endblock %}

{% block content %}
<section class="content2">
    
    <div class="container-fluid">     
        <div class="block-header">
            <h1>Relatório - Contas a Pagar</h1>
        </div>
    </div>
    
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="card_filter" class="card">
            	<div class="body">
            		<form id="form_relatorio_cp" class="form-inline">
						<fieldset>
						 	<legend>Período:</legend>						 				
							<input id="vencimento_inicial" class="form-control" type="text" name="" placeholder="Vencimento Inicial" required="">
							<input id="vencimento_final" class="form-control" type="text" name="" placeholder="Vencimento Final" required>

							<select id="status_pagamento" class="form-control">
								<option value="nenhum">--Selecione--</option>
								<option value="pagas">Pagas</option>
								<option value="a_pagar">A pagar</option>
								<option value="vencidas">Vencidas</option>
							</select>

							<button type="submit" class="btn btn-primary waves-effect">
								<i class="material-icons">search</i>
							</button>

					 	</fieldset>
					</form>
				</div>
            </div>

            <div id="card_result" class="card">
            	<div class="body">
            		
            		<h2>Contas a Pagar - <small id="statusCP"></small></h2>
            		<p>Data vencimento inicial: <span id="inicial_cp"></span> - Data de vencimento final: <span id="final_cp"></span></p>
            		<br>
            		<div class="table-responsive">
                        <table id="dataRelatorioCP" class="table table-hover">
                    
                            <thead>                                
                                <tr>
                                    <th>Vencimento</th>
                                    <th>Descrição</th>
                                    <th>Categoria</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>

                            <tbody>

                            </tbody>

                            <tfoot>
                            	<tr class="bg-success">
	                            	<td></td>
	                            	<td></td>
	                            	<td class="valor_total">Total:</td>
	                            	<td class="valor_total" id="totalCP"></td>
	                            </tr>
                            </tfoot>                            
                            
                        </table>
                    </div>
                    <br>
                    <div>
                    	<button class="btn btn-primary waves-effect voltar">Voltar</button>
                    </div>

				</div>
            </div>



        </div>
    </div>
</section>

{% endblock %}