{% extends "base.html" %}

{% load staticfiles %}

{% block staticCaixa  %}

<!-- JQuery DataTable Css -->
<link href="{% static 'plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}" rel="stylesheet">

<!-- Jquery DataTable Plugin Js -->
<script src="{% static 'plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.flash.min.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/extensions/export/jszip.min.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/extensions/export/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/extensions/export/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.print.min.js' %}"></script>

<!-- Custom Js -->
<script src="{% static 'js/jquery-datatable.js' %}"></script>
<script src="{% static 'js/caixa.js' %}"></script>

{% endblock %}

{% block content %}

<section clas="content">
    
    <div clas="container-fluid">     
        <div class="block-header">
            <h1>Caixa</h1>
        </div>
    </div>
    
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Meses</h2>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable js-basic-example">
                    
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Descrição</th>
                                    <th>Categoria</th>
                                    <th>Entrada</th>
                                    <th>Saída</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Data</th>
                                    <th>Descrição</th>
                                    <th>Categoria</th>
                                    <th>Entrada</th>
                                    <th>Saída</th>
                                </tr>
                            </tfoot>

                            <tbody>
                            {% for l in lancamentos %}
                                <tr>
                                    <td>{{ l.data }}</td>
                                    <td>{{ l.descricao }}</td>
                                    <td>{{ l.categoria }}</td>
                                    
                                    {% if l.categoria.tipo == '1' %}
                                        <td>{{ l.valor }}</td>
                                        <td></td>
                                        <td><i class="material-icons"><a data-toggle="modal" href=""><span class="openEdit" data-lanc="{{ l.id }}">edit</span></a></i></td>
                                    
                                    {% else %}
                                        <td></td>
                                    
                                    <td>{{ l.valor }}</td>
                                    <td><i class="material-icons"><a data-toggle="modal" href=""><span class="openEdit" data-lanc="{{ l.id }}">edit</span></a></i></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal Edição de Lançamento -->
<div class="modal fade" id="editLancamento" tabindex="-1" role="dialog" aria-labelledby="LabelLancamento" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Título -->
            <div class="modal-header">
                <h3 class="modal-title" id="LabelLancamento">Edição de Lançamento de Caixa</h3>
            </div>
            <!-- Campos -->
            <form id="form_lancamento">
            {% csrf_token %}    
                <div id="editLanc" class="modal-body">                          
                    <!-- Django form será inserido aqui via Jquery -->
                </div>
                <!-- Salvar/Cancelar -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary salvar">Salvar</button>
                    <button class="btn btn-danger">Excluir</button>
                </div>
            </form>
        </div>
    </div>
</div>    
<!-- Modal Edição de Lançamento -->


{% endblock %}