{% extends "base.html" %}

{% block activeCad %}<li class="active">{% endblock %}
{% block activeCategoria %}<li class="active">{% endblock %} 

{% load staticfiles %}

{% block staticCategoria %}

<!-- JQuery DataTable Css -->
<link href="{% static 'plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}" rel="stylesheet">

<!-- Jquery DataTable Plugin Js -->
<script src="{% static 'plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.flash.min.js' %}"></script>

<!-- Custom Js -->
<script src="{% static 'js/jquery-datatable.js' %}"></script>
<script src="{% static 'js/banco.js' %}"></script>
<script>$('dataCategoria').dataTable();</script>
{% endblock %}

{% block content %}

<section class="content2">

    <div class="container-fluid">
        <div class="block-header">
            <h1>Cadastrar</h1>
        </div>
    </div>
    
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="card">
                <div class="header">
                    <h2>Categoria de Entrada</h2>
                    <ul class="header-dropdown">
                        <a class="nav-link testeadd" data-toggle="modal" href="#mCategoria" role="tab" title="Adicionar categoria">
                            <i class="material-icons testeadd">add</i>
                        </a>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table id="dataCategoria"class="table table-bordered table-striped table-hover dataTable js-basic-example">
                            <thead>
                                <tr>
                                    <th>Descrição</th>
                                    <th>Editar</th>
                               </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                  <th>Descrição</th>
                                  <th>Editar</th>
                               </tr>     
                            </tfoot>
                            
                            <tbody>
                                {% for c in catEntrada %}
                                <tr>
                                    <td>{{ c.descricao }}</td>
                                    <td><i class="material-icons"><a data-toggle="modal" href=""><span class="openEdit" data-lanc="{{ l.id }}">edit</span></a></i></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="card">
                <div class="header">
                    <h2>Categoria de Saída</h2>
                    <ul class="header-dropdown">
                        <a class="nav-link testeadd" data-toggle="modal" href="#mCategoria" role="tab" title="Adicionar categoria">
                            <i class="material-icons testeadd">add</i>
                        </a>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table id="dataCategoria2"class="table table-bordered table-striped table-hover dataTable js-basic-example">
                        
                            <thead>
                                <tr>
                                  <th>Descrição</th>
                                  <th>Editar</th>
                               </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                  <th>Descrição</th>
                                  <th>Editar</th>
                               </tr>   
                            </tfoot>
                            
                            <tbody>
                                {% for c in catSaida %}
                                <tr>
                                    <td>{{ c.descricao }}</td>
                                    <td><i class="material-icons"><a data-toggle="modal" href=""><span class="openEdit" data-lanc="{{ l.id }}">edit</span></a></i></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

<!-- Modal Cadastro Categoria -->
<div class="modal fade" id="mCategoria">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Título -->
            <div class="modal-header">
                <h3 class="modal-title">Cadastrar Categoria</h3>
            </div>
            <!-- Campos -->
            <form method="POST">    
                <div class="modal-body">                          
                        {% csrf_token %}

                            {% for campo in form %}
                                {{ campo.label_tag }}
                                {{ campo }}                                    
                            {% endfor %}              
                </div>
                <!-- Salvar/Cancelar -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}