{% extends "base.html" %}

{% block activeCad %}<li class="active">{% endblock %}
{% block activeCategoria %}<li class="active">{% endblock %} 

{% load staticfiles %}

{% block staticCategoria %}
<link href="{% static 'css/categoria.css' %}" rel="stylesheet">

<!-- JQuery DataTable Css -->
<link href="{% static 'plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}" rel="stylesheet">

<!-- Jquery DataTable Plugin Js -->
<script src="{% static 'plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.flash.min.js' %}"></script>

<!-- Custom Js -->
<script src="{% static 'js/jquery-datatable.js' %}"></script>
<script src="{% static 'js/categoria.js' %}"></script>
{% endblock %}

{% block content %}

<section class="content2">

    <div class="container-fluid">
        <div class="block-header">
            <h1>Categorias</h1>
        </div>
    </div>
    
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="card">
                <div class="header">
                    <i class="material-icons addCat">
                        <a class="nav-link" data-toggle="modal" href="#mCategoria" role="tab" title="Adicionar categoria de entrada">add</a>
                    </i>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table id="dataCategoria" class="table table-bordered table-striped table-hover dataTable js-basic-example">
                            <thead>
                                <tr>
                                    <th>Descrição</th>
                                    <th>Editar</th>
                               </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                  <th>Descrição</th>
                                  <th>Editar</th>
                               </tr>     
                            </tfoot>
                            
                            <tbody>
                                {% for c in catEntrada %}
                                <tr>
                                    <td>{{ c.descricao }}</td>
                                    <td><i class="material-icons"><a data-toggle="modal" href="#editCategoria"><span class="openEdit" data-cat="{{ c.id }}">edit</span></a></i></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="card">
                <div class="header">
                    <i class="material-icons addCat">
                        <a class="nav-link" data-toggle="modal" href="#mCategoria" role="tab" title="Adicionar categoria de saída">add</a>
                    </i>

                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table id="dataCategoria2" class="table table-bordered table-striped table-hover dataTable js-basic-example">
                        
                            <thead>
                                <tr>
                                  <th>Descrição</th>
                                  <th>Editar</th>
                               </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                  <th>Descrição</th>
                                  <th>Editar</th>
                               </tr>   
                            </tfoot>
                            
                            <tbody>
                                {% for c in catSaida %}
                                <tr>
                                    <td>{{ c.descricao }}</td>
                                    <td><i class="material-icons"><a data-toggle="modal" href="#editCategoria"><span class="openEdit" data-cat="{{ c.id }}">edit</span></a></i></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

<!-- Modal Cadastro Categoria -->
<div class="modal fade" id="mCategoria">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Título -->
            <div class="modal-header">
                <div class="header">
                    <h4 >Adicionar | <small>Categoria</small></h4>
                </div>
            </div>
            <!-- Campos -->
            <form id="form_cadastro_categoria" method="POST">    
                <div class="modal-body">                          
                        {% csrf_token %}

                            {% for campo in form %}
                                {{ campo.label_tag }}
                                {{ campo }}                                    
                            {% endfor %}              
                </div>
                <!-- Salvar/Cancelar -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Edição de Categoria -->
<div class="modal fade" id="editCategoria" tabindex="-1" role="dialog" aria-labelledby="LabelCategoria" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card"
                <!-- Título -->
                <div class="header">
                    <h4 id="LabelCategoria">Editar | <small>Categoria</small></h4>
                </div>
                <!-- Campos -->
                <form id="form_edit_categoria" method="POST">
                    {% csrf_token %}    
                    <div id="editCate" class="modal-body">        
                        <!-- Django form será inserido aqui via Jquery -->
                    </div>
                    <!-- Salvar/Cancelar -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success waves-effect" >Salvar</button>
                        <button class="btn btn-danger excluir">Excluir</button>
                        <button type="button" class="btn btn-primaryid" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>    
<!-- Modal Edição de Categoria -->

{% endblock %}