<!DOCTYPE html>
{% load staticfiles %}
<html lang="pt-br">

    <head >
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        
        <title>Meu Dinherim</title>
        
        <!-- Icone Superior-->
        <link rel="icon" href="{% static 'images/Porco.png' %}" type="image/x-icon">

        <!-- Google Fonts -->
        <link href="{% static 'https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext' %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

        <!-- Bootstrap Core Css -->
        <link href="{% static 'plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

        <!-- Waves Effect Css -->
        <link href="{% static 'plugins/node-waves/waves.css' %}" rel="stylesheet" />

        <!-- Animation Css -->
        <link href="{% static 'plugins/animate-css/animate.css' %}" rel="stylesheet" />

        <!-- Morris Chart Css-->
        <link href="{% static 'plugins/morrisjs/morris.css' %}" rel="stylesheet" />

        <!-- Custom Css -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <!-- Temas -->
        <link href="{% static 'css/themes/all-themes.css' %}" rel="stylesheet" />

        <!-- Jquery Core Js -->
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>

        <!-- Bootstrap Core Js -->
        <script src="{% static 'plugins/bootstrap/js/bootstrap.js' %}"></script>

       <!-- Select Plugin Js -->
        <!-- Está comentado pq dava conflito com o form da categoria dos gastos -->
        <!-- <script src="{% static 'plugins/bootstrap-select/js/bootstrap-select.js' %}"></script> -->

        <!-- Slimscroll Plugin Js -->
        <script src="{% static 'plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

        <!-- Waves Effect Plugin Js -->
        <script src="{% static 'plugins/node-waves/waves.js' %}"></script>

        <!-- Jquery CountTo Plugin Js -->
        <script src="{% static 'plugins/jquery-countto/jquery.countTo.js' %}"></script>

        <!-- Morris Plugin Js -->
        <script src="{% static 'plugins/raphael/raphael.min.js' %}"></script>
        <script src="{% static 'plugins/morrisjs/morris.js' %}"></script>

        <!-- ChartJs -->
        <script src="{% static 'plugins/chartjs/Chart.bundle.js' %}"></script>

        <!-- Flot Charts Plugin Js -->
        <script src="{% static 'plugins/flot-charts/jquery.flot.js' %}"></script>
        <script src="{% static 'plugins/flot-charts/jquery.flot.resize.js' %}"></script>
        <script src="{% static 'plugins/flot-charts/jquery.flot.pie.js' %}"></script>
        <script src="{% static 'plugins/flot-charts/jquery.flot.categories.js' %}"></script>
        <script src="{% static 'plugins/flot-charts/jquery.flot.time.js' %}"></script>

        <!-- Sparkline Chart Plugin Js -->
        <script src="{% static 'plugins/jquery-sparkline/jquery.sparkline.js' %}"></script>

        <link href="{% static 'css/caixa.css' %}" rel="stylesheet">

        <!-- JQuery DataTable Css -->
        <link href="{% static 'plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}" rel="stylesheet">
        <!-- Jquery DataTable Plugin Js -->
        <script src="{% static 'plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
        <script src="{% static 'plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
        <script src="{% static 'plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.flash.min.js' %}"></script>

        <script src="{% static 'js/tooltips-popovers.js' %}"></script>

        <!-- Custom Js -->
        <script src="{% static 'js/admin.js' %}"></script>
        <script src="{% static 'js/index.js' %}"></script>
        <script src="{% static 'js/lancamento.js' %}"></script>
        <script src="{% static 'js/list_metas.js' %}"></script>
        <script src="{% static 'js/list_contas.js' %}"></script>
        <script src="{% static 'js/list_carteira.js' %}"></script>
        
        {% block staticCaixa %}{% endblock %}
        {% block staticBanco %}{% endblock %}
        {% block staticCategoria %}{% endblock %}
        {% block staticAgencia %}{% endblock %}
        {% block staticContasPagar %}{% endblock %}
        {% block staticContasReceber %}{% endblock %}
        {% block staticMetas %}{% endblock %}
        {% block staticRelCP %}{% endblock %}
        {% block staticRelCR %}{% endblock %}
        {% block staticConfig %}{% endblock %}


        <!-- Chamadas JS Alertas -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

        <!-- Datapicker-->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!-- Datapicker-->

        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        
        <sript type="text/javascript">
            
</sript>
        <script type="text/javascript">
        $( function() {
            $("#datepickerC").datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
                dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
                dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
                monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
                monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior'
            });
          });

        $( function() {
            $("#datepickerB").datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
                dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
                dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
                monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
                monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior'
            });
        });

        {% block staticCalendario %}{% endblock %}

</script>
        {% block scriptHome %}{% endblock %}
        {% block datepickerCP %}{% endblock %}
        {% block datepickerCR %}{% endblock %}
       
    </head>

    <!-- Cor da Barra Superior -->
    <body class="theme-red">
        
        <!-- Página de Carregamento -->
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="preloader">
                    <div class="spinner-layer pl-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <p>Por favor Aguarde...</p>
            </div>
        </div>
        <!--/ Página de Carregamento -->
        
        <!-- Overlay For Sidebars -->
        <div class="overlay"></div>

        <!-- Barra Superior -->
        <nav class="navbar">
            <div class="container-fluid">
                <!-- Logo e talz -->
                <div class="navbar-header">
                    <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                    <a href="javascript:void(0);" class="bars"></a>
                    <a class="navbar-brand" href="{% url 'principal:home' %}">MEU <b>DINHERIM</b></a>
                </div>
                
                <!-- Itens que ficaram no DropDown ao diminiur a tela -->
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <!--Infobox -->
                    <!-- {% for a in agencias %}
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1">
                            <div id="infoBoxBanco"  class="info-box-2 btn-xs">
                                <div class="icon">
                                    <i id="iconsInfoBox" class="material-icons" >account_balance</i>
                                </div>
                                <div class="content">
                                    <div id="textInfoBox" class="text">{{ a.banco }}</div>
                                    <div id="numberInfoBox" class="number">{{ a.saldo }}</div>
                                </div>        
                            </div>
                        </div>
                    {% endfor %}

                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <div id="infoBoxCaixa" class="info-box-2 btn-xs">
                            <div class="icon">
                                <i id="iconsInfoBox" class="material-icons" >work</i>
                            </div>
                            <div class="content">
                                <div  id="textInfoBox" class="text">Caixa</div>
                                <div  id="numberInfoBox" class="number">{{ saldoCaixa }}</div>
                            </div>        
                        </div>
                    </div> -->
                    <!--/Infobox -->

                    <ul class="nav navbar-nav navbar-right">

                        <!-- Carteira -->
                        <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" title="Carteira">
                                    <i class="material-icons">attach_money</i>
                                    <span id="quantidade_carteira" class="label-count"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">Carteira</li>
                                    <li class="body">
                                        <ul id="menu_carteira" class="menu" style="list-style-type: none">
                                            <!-- metas adicionadas via jquery -->
                                        </ul>
                                    </li>
                                    <li id="footer_carteira" class="footer">
                                        <a href="javascript:void(0);"><span class='i-circle'>$</span><span id="total_carteira"></span></a>
                                    </li>
                                </ul>
                            </li>
                            <!-- #END# Carteira -->

                        <!-- Conta Bancária -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" title="Contas bancárias">
                                <i class="material-icons">account_balance</i>
                                <span id="quantidade_contas" class="label-count"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">Contas bancárias</li>
                                <li class="body">
                                    <ul id="menu_contas" class="menu" style="list-style-type: none">
                                        <!-- metas adicionadas via jquery -->
                                    </ul>
                                </li>
                                <li id="footer_agencia" class="footer">
                                    <a href="javascript:void(0);"><b>Total</b>: <span id="total_contas"></span></a>
                                </li>
                            </ul>
                        </li>
                        <!-- #END# Conta Bancária -->

                         <!-- Metas -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" title="Metas">
                                <i class="material-icons">flag</i>
                                <span id="quantidade_metas" class="label-count"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">Metas</li>
                                <li class="body">
                                    <ul id="menu_metas" class="menu tasks" style="list-style-type: none">
                                        <!-- metas adicionadas via jquery -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="{% url 'metas:metas' %}">Ver todas as metas</a>
                                </li>
                            </ul>
                        </li>
                        <!-- #END# Metas -->
                    </ul>
                </div>
            </div>
        </nav>  
        <!--/ Barra Superior -->
        
        <section>
            <!-- Sidebar Esquerda -->
            <aside id="leftsidebar" class="sidebar">
                <!-- Informações do Usuário -->
                <div class="user-info">
                    <div class="image">
                        {% if profile.foto %}
                        <img src="{{ profile.foto.url }}" width="48" height="48" alt="User" />
                        {% else %}
                        <img src="{% static 'images/user.png' %}" width="48" height="48" alt="User" />
                        {% endif %}
                    </div>
                    <div class="info-container">
                        <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.first_name }}</div>
                        <div class="email">{{ user.email }}</div>
                        <div class="btn-group user-helper-dropdown">
                            <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="{% url 'config:config' %}">
                                        <i class="material-icons">person</i>
                                        Perfil
                                    </a>
                                </li>
                                <li class="divider" role="separator"></li>
                                <li>
                                    <a href="{% url 'principal:logout' %}">
                                        <i class="material-icons">input</i>
                                        Sair
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--/ Informações do Usuário -->
                
                <!-- Menu -->
                <div class="menu">
                    <ul class="list">
                        <li class="header">Menu de Navegação</li>
                        <!-- Home -->
                        {% block activeHome %}{% endblock %}
                            <a href="{% url 'principal:home' %}">
                                <i class="material-icons">home</i>
                                <span>Home</span>
                            </a>
                        </li>
                        <!-- Adicionar Lançamento -->
                        <li>
                            <a data-toggle="modal" href="#mGastos">
                                <i class="material-icons">add_shopping_cart</i>
                                <span>Adicionar lançamento</span>
                            </a>
                        </li>
                        <!-- Adicionar Lançamento -->

                        <!-- Cadastrar -->
                        {% block activeCad %}<li>{% endblock %}
                            <a href="javascript:void(0);" class="menu-toggle">
                                <i class="material-icons">note_add</i>
                                <span>Cadastrar</span>
                            </a>
                            <ul class="ml-menu">
                                {% block activeMeta %}<li>{% endblock %}
                                    <a href="{% url 'metas:metas' %}">
                                        <span>Metas</span>
                                    </a>
                                </li>
                                {% block activeCategoria %}<li>{% endblock %}                                
                                    <a href="{% url 'caixa:categoria' %}">
                                        <span>Categoria</span>
                                    </a>
                                </li>
                                 {% block activeAgencia %}<li>{% endblock %}  
                                    <a href="{% url 'banco:agencia' %}">
                                        <span>Agência / Cartão</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- Banco -->
                        {% block activeBanco %}<li>{% endblock %}
                            <a href="{% url 'banco:banco' %}">
                                <i class="material-icons">account_balance</i>
                                <span>Banco</span>
                            </a>
                        </li>
                        <!-- Caixa -->
                        {% block activeCaixa %}<li>{% endblock %}
                            <a href="{% url 'caixa:index' %}">
                                <i class="material-icons">work</i>
                                <span>Carteira</span>
                            </a>
                        </li>
                        <!-- Contas a Receber -->
                        {% block activecontasReceber %}<li>{% endblock %}
                            <a href="{% url 'contas_a_receber:index' %}">
                                <i class="material-icons">monetization_on</i>
                                <span>Contas a Receber</span>
                            </a>
                        </li>
                        <!-- Contas a Pagar -->
                        {% block activecontasPagar %}<li>{% endblock %}
                            <a href="{% url 'contas_a_pagar:index' %}">
                                <i class="material-icons">payment</i>
                                <span>Contas a Pagar</span>
                            </a>
                        </li>



                        <!-- Cadastrar -->
                        {% block activeRel %}<li>{% endblock %}
                            <a href="javascript:void(0);" class="menu-toggle">
                                <i class="material-icons">view_list</i>
                                <span>Relatórios</span>
                            </a>
                            <ul class="ml-menu">
                                {% block activseRelCR %}<li>{% endblock %}
                                    <a href="{% url 'relatorios:contas_a_receber' %}">
                                        <span>Contas a Receber</span>
                                    </a>
                                </li>
                                {% block activeRelCP %}<li>{% endblock %}                                
                                    <a href="{% url 'relatorios:contas_a_pagar' %}">
                                        <span>Contas a Pagar</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        
                        <!-- Divisão -->
                        <li class="header"></li>
                        <!-- Configurações -->
                        {% if isPerfil %}
                            {% block activeConfig %}<li>{% endblock %}
                                <a href="{% url 'config:config' %}">
                                    <i class="material-icons">person</i>
                                    <span>Perfil</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>       
                <!--/ Menu -->
                
                <!-- Rodapé Menu -->
                <div class="legal">
                    <div class="copyright">
                        &copy; 2017 <a href="javascript:void(0);">Meu Dinherim</a>
                    </div>
                    <div class="version">
                        <b>Version: </b> 1.0
                    </div>
                </div>
                <!--/ Rodapé Menu -->
            </aside>
            <!--/ Sidebar Esquerda -->
        </section>

        <!-- Modal Gastos -->
        <div class="modal fade" id="mGastos" tabindex="-1" role="dialog" aria-labelledby="LabelBanco" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!-- Título -->
                    <div class="modal-header">
                        <div class="header">
                            <h4 >Adicionar | <small>Lançamento</small></h4>
                        </div>
                    </div>
                    <!-- Campos -->
                    <div class="modal-body">

                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#caixa" role="tab">Carteira</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#banco" role="tab">Banco</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <!-- Tab pane Caixa -->
                            <div class="tab-pane" id="caixa" role="tabpanel">
                                <form id="form_add_lancamento_caixa" method="POST">
                                    {% csrf_token %}
                                    {% for campo in formLancCaixa %}
                                        {% if campo.label != "User" %}
                                        {{ campo.label_tag }}
                                        {% endif %}
                                        {{ campo }}                                    
                                    {% endfor %}
                                    <!-- Salvar/Cancelar -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-primary salvarCaixa">Salvar</button>
                                    </div>
                                </form>
                            </div>
                            <!-- Tab pane Caixa -->

                            <!-- Tab pane Banco -->
                            <div class="tab-pane" id="banco" role="tabpanel">
                                <form id="form_add_lancamento_banco" method="POST">
                                    {% csrf_token %}
                                    {% for campo in formLancBanco %}
                                        {% if campo.label != "User" %}
                                        {{ campo.label_tag }}
                                        {% endif %}
                                        {{ campo }}                                    
                                    {% endfor %}
                                    <!-- Salvar/Cancelar -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-primary">Salvar</button>
                                    </div>
                                </form>
                            </div>
                            <!-- Tab pane Banco -->
                        </div>                               
                  
                    </div>
                </div>
            </div>
        </div>    
        <!--/ Modal Gastos -->

        <section class="content">
            <div clas="container-fluid"> 
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                
                {% block content %}
                {% endblock %}
            
            </div>
        </section>
    </body>
</html>