<!DOCTYPE html>
{% load staticfiles %}
<html lang="pt-br">

    <head >
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        
        <title>Meu Dinherim</title>
        
        <!-- Icone Superior-->
        <link rel="icon" href="{% static 'images/Porco.png' %}" type="image/x-icon">

        <!-- Google Fonts -->
        <link href="{% static 'https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext' %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

        <!-- Bootstrap Core Css -->
        <link href="{% static 'plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

        <!-- Waves Effect Css -->
        <link href="{% static 'plugins/node-waves/waves.css' %}" rel="stylesheet" />

        <!-- Animation Css -->
        <link href="{% static 'plugins/animate-css/animate.css' %}" rel="stylesheet" />

        <!-- Morris Chart Css-->
        <link href="{% static 'plugins/morrisjs/morris.css' %}" rel="stylesheet" />

        <!-- Custom Css -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <!-- Temas -->
        <link href="{% static 'css/themes/all-themes.css' %}" rel="stylesheet" />

        <!-- Chamadas JS -->

        <!-- Jquery Core Js -->
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>

        <!-- Bootstrap Core Js -->
        <script src="{% static 'plugins/bootstrap/js/bootstrap.js' %}"></script>

       <!-- Select Plugin Js -->
        <!-- Está comentado pq dava conflito com o form da categoria dos gastos -->
        <!-- <script src="{% static 'plugins/bootstrap-select/js/bootstrap-select.js' %}"></script> -->

        <!-- Slimscroll Plugin Js -->
        <script src="{% static 'plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

        <!-- Waves Effect Plugin Js -->
        <script src="{% static 'plugins/node-waves/waves.js' %}"></script>

        <!-- Jquery CountTo Plugin Js -->
        <script src="{% static 'plugins/jquery-countto/jquery.countTo.js' %}"></script>

        <!-- Morris Plugin Js -->
        <script src="{% static 'plugins/raphael/raphael.min.js' %}"></script>
        <script src="{% static 'plugins/morrisjs/morris.js' %}"></script>

        <!-- ChartJs -->
        <script src="{% static 'plugins/chartjs/Chart.bundle.js' %}"></script>

        <!-- Flot Charts Plugin Js -->
        <script src="{% static 'plugins/flot-charts/jquery.flot.js' %}"></script>
        <script src="{% static 'plugins/flot-charts/jquery.flot.resize.js' %}"></script>
        <script src="{% static 'plugins/flot-charts/jquery.flot.pie.js' %}"></script>
        <script src="{% static 'plugins/flot-charts/jquery.flot.categories.js' %}"></script>
        <script src="{% static 'plugins/flot-charts/jquery.flot.time.js' %}"></script>

        <!-- Sparkline Chart Plugin Js -->
        <script src="{% static 'plugins/jquery-sparkline/jquery.sparkline.js' %}"></script>

        <!-- Custom Js -->
        <script src="{% static 'js/admin.js' %}"></script>
        <script src="{% static 'js/index.js' %}"></script>
        
        {% block staticCaixa %}{% endblock %}
        {% block staticBanco %}{% endblock %}

        <!-- Chamadas JS -->

        <!-- Datapicker-->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!-- Datapicker-->
        
        <!-- Calendário -->
        <link rel='stylesheet' href="{% static 'css/fullcalendar.css' %}" />
        <script src="{% static 'js/moment.min.js' %}"></script>
        <script src="{% static 'js/fullcalendar.js' %}"></script>
        <script src="{% static 'js/locale/pt-br.js' %}"></script>

        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link href="{% static 'css/categoria.css' %}" rel="stylesheet">
        
        <sript type="text/javascript">
            
</sript>
        
        <script type="text/javascript">
              $( function() {
                $("#datepicker").datepicker({
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
                    dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
                    dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
                    monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
                    monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
                    nextText: 'Próximo',
                    prevText: 'Anterior'
                });
              });

            //Recebe eventos para carregar no calendário
            var eventos = JSON.parse("{{ events | safe |escapejs }}");

            $(document).ready(function() {
                $('#calendar').fullCalendar(
                    {   
                        height: 550,
                        eventLimit: 3,
                        events: eventos
                });
            });
            
            $(document).ready(function()
            {
                $('#tabCaixa').dataTable();
            });

        </script>

    </head>

    <!-- Cor da Barra Superior -->
    <body class="theme-red">
        
        <!-- Página de Carregamento -->
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="preloader">
                    <div class="spinner-layer pl-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <p>Por favor Aguarde...</p>
            </div>
        </div>
        <!--/ Página de Carregamento -->
        
        <!-- Overlay For Sidebars -->
        <div class="overlay"></div>

        <!-- Barra Superior -->
        <nav class="navbar">
            <div class="container-fluid">
                <!-- Logo e talz -->
                <div class="navbar-header">
                    <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                    <a href="javascript:void(0);" class="bars"></a>
                    <a class="navbar-brand" href="{% url 'principal:home' %}">MEU <b>DINHERIM</b></a>
                </div>
                
                <!-- Infobox --->
                <!--
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="info-box-4 btn-xs" >
                        <div class="icon">
                            <i class="material-icons">account_balance</i>
                        </div>
                        <div class="content">
                            <div class="text">Banco</div>
                            <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">125</div>
                        </div>        
                    </div>
                </div>
                 <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="info-box-4" >
                        <div class="icon" >
                            <i class="material-icons">work</i>
                        </div>
                        <div class="content" >
                            <div class="text">Caixa</div>
                            <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">125</div>
                        </div>
                    </div>
                </div>
                -->
                <!--/ Infobox --->
                
                <!-- talz -->
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">       
                        <li class="pull-right"><a href="{% url 'principal:logout' %}" class="js-right-sidebar" data-close="true" title="Sair"><i class="glyphicon glyphicon-off"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>  
        <!--/ Barra Superior -->
        
        <section>
            <!-- Sidebar Esquerda -->
            <aside id="leftsidebar" class="sidebar">
                <!-- Informações do Usuário -->
                <div class="user-info">
                    <div class="image">
                        <img src="{% static 'images/user.png' %}" width="48" height="48" alt="User" />
                    </div>
                    <div class="info-container">
                        <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</div>
                        <div class="email">{{ user.email }}</div>
                            
                    </div>
                </div>
                <!--/ Informações do Usuário -->
                
                <!-- Menu -->
                <div class="menu">
                    <ul class="list">
                        <li class="header">Menu de Navegação</li>
                        <!-- Home -->
                        <li class="active">
                            <a href="{% url 'principal:home' %}">
                                <i class="material-icons">home</i>
                                <span>Home</span>
                            </a>
                        </li>
                        <!-- Adicionar Lançamento -->
                        <li>
                            <a data-toggle="modal" href="#mGastos">
                                <i class="material-icons">add_shopping_cart</i>
                                <span>Adicionar lançamento</span>
                            </a>
                        </li>
                        <!-- Adicionar Lançamento -->

                        <!-- Cadastrar -->
                        <li>
                            <a href="javascript:void(0);" class="menu-toggle">
                                <i class="material-icons">note_add</i>
                                <span>Cadastrar</span>
                            </a>
                            <ul class="ml-menu">
                                <li>
                                    <a href="javascript:void(0);">
                                        <span>Metas</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'caixa:categoria' %}">
                                        <span>Categoria</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'banco:agencia' %}">
                                        <span>Agência Bancária</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- Banco -->
                        <li>
                            <a href="{% url 'banco:banco' %}">
                                <i class="material-icons">account_balance</i>
                                <span>Banco</span>
                            </a>
                        </li>
                        <!-- Caixa -->
                        <li>
                            <a href="{% url 'caixa:index' %}">
                                <i class="material-icons">work</i>
                                <span>Caixa</span>
                            </a>
                        </li>
                        <!-- Divisão -->
                        <li class="header"></li>
                        <!-- Configurações -->
                        <li>
                            <a href="#">
                                <i class="material-icons">settings</i>
                                <span>Configurações</span>
                            </a>
                        </li>
                    </ul>
                </div>       
                <!--/ Menu -->
                
                <!-- Rodapé Menu -->
                <div class="legal">
                    <div class="copyright">
                        &copy; 2017 <a href="javascript:void(0);">Meu Dinherim - PAS</a>
                    </div>
                    <div class="version">
                        <b>Version: </b> 0.3
                    </div>
                </div>
                <!--/ Rodapé Menu -->
            </aside>
            <!--/ Sidebar Esquerda -->
        </section>


        <!-- Modal Gastos -->
        <div class="modal fade" id="mGastos" tabindex="-1" role="dialog" aria-labelledby="LabelBanco" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!-- Título -->
                    <div class="modal-header">
                        <h3 class="modal-title" id="LabelBanco">Cadastrar Lançamentos</h3>
                    </div>
                    <!-- Campos -->
                    <form method="POST">    
                        <div class="modal-body">                          
                                {% csrf_token %}

                                    {% for campo in form %}
                                        {% if campo.label != "User" %}
                                        {{ campo.label_tag }}
                                        {% endif %}
                                        {{ campo }}                                    
                                    {% endfor %}
                      
                        </div>
                        <!-- Salvar/Cancelar -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>    
        <!--/ Modal Gastos -->

        <section class="content">
            <div clas="container-fluid"> 
                
                {% block content %}{% endblock %}
            
            </div>
        </section>
    </body>
</html>